*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color:crimson;
    padding: 15px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.562),5px 5px 15px rgba(8, 6, 6, 0.975);
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: center;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
#equal{
    width: 145px;
}

.calculator .operator{
    color: aqua;
}

.calculator .operators{
color:aqua;
}

H1{
 text-align: center;
 margin: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: blue;
  font-weight: bold;
}